<!DOCTYPE html>
<html>
<head>
  <title>Anyvi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<%= render partial: "shared/navbar" %>
		
		<h2 style="color: red"><%= flash[:error] %></h2>
		<h2 style="color: green"><%= flash[:success] %></h2>

		<%= yield %>

		<%= render partial: "shared/navbar_bot" %>
	</div>

</body>
</html>
